PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/haircare_db?schema=public"
CORS_ORIGIN="http://localhost:3000"
JWT_SECRET="haircare_ai_super_secret_jwt_key_2026_pro"
JWT_EXPIRES_IN="7d"
GEMINI_API_KEY="AIzaSyAObIh3ldn0KZBucqgKqAPyPXoPBeAcfGE"
